{{ define "main" }}
  <main id="main" class="container taxonomy-term updates2-term">
    <header class="page-header">
      <h1>{{ .Title }}</h1>
      {{ with .Data.Term }}<p class="taxonomy-term">Category: <strong>{{ . }}</strong></p>{{ end }}
      {{ with .Description }}<p class="description">{{ . }}</p>{{ end }}
    </header>

    {{ $defaultUpdatePageSize := 10 }}
    {{ $updatePageSize := or site.Params.updatesPageSize $defaultUpdatePageSize }}
    {{ $pages := .Pages | default .RegularPages }}
    {{ $p := .Paginate ($pages.ByDate.Reverse) $updatePageSize }}

    {{ partial "updates2-archive.html" (dict
      "pages" $p.Pages
      "title" (printf "%s page %d" .Title $p.PageNumber)
      "showIcon" false
    ) }}

    <div class="row g-0">
      <div class="col-lg-12 d-flex justify-content-center">
        {{ partial "pagination.html" (dict "paginator" $p) }}
      </div>
    </div>
  </main>
{{ end }}
