
// Variables

$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
);

@mixin respond($breakpoint) {
    @if not map-has-key($breakpoints, $breakpoint) {
        @warn "'#{$breakpoint}' is not a valid breakpoint";
    } @else {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}


$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ffb900, #6b69d6;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

@if $web-font-path {
  @import url("#{$web-font-path}");
}

:root{
  --bs-body-font-family: #{$font-sans-serif} !important;
  --bs-font-sans-serif: #{$font-sans-serif} !important;
  --bs-font-monospace: #{$font-monospace} !important;
  --navbar-height: 100px; /* Default Bootstrap navbar height */
}

:root,
[data-bs-theme=light]{

  --bs-link-color: $secondary;
}

[data-bs-theme=dark]{
  --bs-link-color: $primary;
}

// links

a{
  color: var(--bs-link-color);
  opacity: 0.8;
}

// Buttons

.btn {
  &:focus,
  &:active,
  &:active:focus,
  &.active:focus {
    outline: none;
  }

  &-secondary {
    color: $gray-900;
    background-color: $white;
    border-color: $secondary;

    &:hover {
      color: $gray-900;
      background-color: $gray-300;
      border-color: $gray-500;
    }

    &.disabled {
      color: tint-color($gray-900, 5%);
      background-color: $white;
      border-color: tint-color($secondary, 5%);
    }
  }

  &-warning {
    color: $white;
  }

  &-primary:focus {
    box-shadow: 0 0 5px tint-color($primary, 10%);
  }

  &-secondary:focus {
    box-shadow: 0 0 5px $gray-400;
  }

  &-success:focus {
    box-shadow: 0 0 5px tint-color($success, 10%);
  }

  &-info:focus {
    box-shadow: 0 0 5px tint-color($info, 10%);
  }

  &-warning:focus {
    box-shadow: 0 0 5px tint-color($warning, 10%);
  }

  &-danger:focus {
    box-shadow: 0 0 5px tint-color($danger, 10%);
  }

  &.disabled:focus {
    box-shadow: none;
  }
}

// Tables

.table .thead-dark th {
  background-color: $secondary;
  border-color: $table-border-color;
}

.table-primary,
.table-secondary,
.table-success,
.table-warning,
.table-danger,
.table-info,
.table-light {
  --#{$prefix}table-color: #{$body-color};
}

// Forms

.form-control:focus {
  box-shadow: 0 0 5px rgba($primary, .4);  
}

// Navs

.nav-tabs {
  .nav-link,
  .nav-link.active, {
    border-width: 0 0 1px;
  }

  .nav-link:hover,
  .nav-link.active,
  .nav-link.active:hover,
  .nav-link.active:focus {
    border-bottom: 1px solid $primary;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }
}

.breadcrumb {
  &-item.active {
    color: $gray-700;
  }
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

// Progress bars

.progress {
  height: 8px;
}

// Containers

.list-group {
  &-item {
    color: rgba($white, .8);

    &.active,
    &:hover,
    &:focus {
      color: $white;
    }

    &.active {
      font-weight: 700;

      &:hover {
        background-color: $list-group-hover-bg;
      }
    }

    &.disabled:hover {
      color: $list-group-disabled-color;
    }
  }
}

// cards
.card {
  border-radius: var(#{--bs-card-border-radius});
  overflow: hidden;
  margin-bottom: 1rem;
}



// custom

:root {
  --bs-nav-link-font-weight: 600;

  --h1-font-size:#{$h1-font-size};
  --h2-font-size:#{$h2-font-size};
  --h3-font-size:#{$h3-font-size};
  --h4-font-size:#{$h4-font-size};
  --h5-font-size:#{$h5-font-size};
  --h6-font-size:#{$h6-font-size};
}

@for $k from 1 through 6 {
  $i: $k * 5;
  .swiper-slide-#{$i} {
    padding-left: $i * 1%;
    padding-right: $i * 1%;
  }
  h#{$k} {
    font-size: var(--h#{$k}-font-size);
  }
}
.center-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middot-divider {
  padding-right: .45em;
  padding-left: .45em;
  font-size: 15px
}
@import "scrolltop";
@import "preloader";
@import "footer.scss";
@import "timeline.scss";
@import "swiper";
@import "sharingButtons";
@import "article";

.bs-component {
position: relative;
+ .bs-component {
  margin-top: 1rem;
}

.modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.modal-dialog {
  width: 90%;
}
.popover {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 20px;
}
}

.source-button {
position: absolute;
top: 0;
right: 0;
z-index: 100;
display: none;
font-weight: 700;

i {
  pointer-events: none;
}
}

.source-button:hover {
cursor: pointer;
}

.bs-component:hover .source-button {
display: block;
}

#source-modal {
pre {
  max-height: calc(100vh - 11rem);
}
}


.highlight div,.highlight pre {
  // margin: 2rem 0;
  padding: 1rem;
  border-radius: var(#{--bs-card-border-radius});
  // overflow-x: auto
}

// pre {
//   // display: block;
//   // font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
//   // font-size: 1.6rem;
//   // font-weight: 400;
//   // line-height: 2.6rem;
//   // overflow-x: auto;
//   // margin: 2rem 0;
//   // padding: 1rem;
//   // border-radius: var(#{--bs-card-border-radius});
// }

// pre code {
//   // display: inline-block;
//   // background-color: inherit;
//   // color: inherit
// }

// code {
//   font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
//   // font-size: 1.6rem;
//   // font-weight: 400;
//   // border-radius: .6rem;
//   // padding: .3rem .6rem;
//   // background-color: #ccc;
//   // color: #212121
// }

// @media only screen and (max-width: 768px) {
//   code {
//       // font-size:1.5rem
//   }
// }pre {
//   // display: block;
//   // font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
//   // font-size: 1.6rem;
//   // font-weight: 400;
//   // line-height: 2.6rem;
//   // overflow-x: auto;
//   // margin: 2rem 0;
//   // padding: 1rem;
//   // border-radius: var(#{--bs-card-border-radius});
// }

// pre code {
//   // display: inline-block;
//   // background-color: inherit;
//   // color: inherit
// }

// code {
//   font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
//   // font-size: 1.6rem;
//   // font-weight: 400;
//   // border-radius: .6rem;
//   // padding: .3rem .6rem;
//   // background-color: #ccc;
//   // color: #212121
// }

// @media only screen and (max-width: 768px) {
//   code {
//       // font-size:1.5rem
//   }
// }


code[class*="language-"],
pre[class*="language-"] {
	font-family: $font-monospace !important;
}

.rounded-pill {
  font-family: $font-tags !important;
}

.container {
  margin-top: var(--navbar-height);
}

img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.01); /* Adjust the scale factor as needed */
}