/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/

  :root,
[data-bs-theme=light]{
  --preloader-bg: #{$primary};
  --preloader-color: #{$navbar-dark-color};
  --preloader-border-color: #{$navbar-light-color};
}

[data-bs-theme=dark]{
  color-scheme: dark;
  --preloader-color: #{$navbar-light-color};  
  --preloader-border-color: #{$navbar-dark-color};
}

  #preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: var(--preloader-bg);
    transition: all 0.6s ease-out;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--preloader-color);
    border-color: var(--preloader-border-color) transparent var(--preloader-border-color) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }