<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-bs-theme="{{ .Site.Params.theme }}" tabindex="0">
    <head>
        {{ partial "head" . }}
    </head>
    <body>
        <header id="header" class="header sticky-top">
            {{ partial "header" . }}
        </header>
        <main class="main">
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="footer">
            {{ partial "footer" . }}
        </footer>
        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center active"><i class="fas fa-arrow-up"></i></a>
        <!-- Preloader -->
        <div id="preloader"></div>

        <div id="source-modal" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title me-3">Source Code</h4>
                  <button type="button" class="btn btn-primary btn-copy"><i class="fas fa-clipboard"></i> Copy Code</button>
                </div>
                <div class="modal-body">
                  <pre class="language-html"><code></code></pre>
                </div>
              </div>
            </div>
          </div>

          {{ partial "js" . }}

    </body>
</html>
