{{ define "main" }}
<div class="container">
    {{ $paginator := .Paginator }}
    <div class="row g-0">
        <div class="col-lg-12">
          <div class="card border-primary col-lg-12">
            <div class="card-body">
              <div class="container mt-0">
                <h1>{{ .Title }} page {{ $paginator.PageNumber }}</h1>
                <div class="row">
                  <div class="col-lg-12">
                    {{ $pages := where site.RegularPages "Section" "posts" }}
                    {{ $archives := $pages.GroupByDate "2006" }}
                    {{ range $index, $item := $archives }}
                        {{ $KeyYear := .Key}}
                        <h2 class="mb-0" id="{{ $KeyYear }}">{{ .Key }}({{ len $item.Pages }})</h2>
                        {{ $pgs := $item.Pages.GroupByDate "January" }}
                        {{ range $idx, $it := $pgs }}
                            <h3 id="{{ $KeyYear }}{{ .Key }}" class="ms-2 mb-0">{{ .Key }}({{ len $it.Pages }})</h3>
                            {{ range $inx, $itm := ($it.Pages) }}
                                {{- $image := $itm.Resources.Get "cover.jpg" -}}
                                <h4 class="ms-3 mb-1">
                                  <span class="mx-1">
                                    {{ if $image }}
                                    {{ $webp := $image.Fill "50x50 q100 Center webp" }}
                                    {{ $fallback := $image.Fill "50x50 q100 Center" }}
                                    <picture>
                                      <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
                                      <img src="{{ $fallback.RelPermalink }}" alt="{{$itm.Params.description}}" width="50" height="50">
                                    </picture>
                                    {{ else }}
                                    <div class="bg-light d-inline-block" style="width: 50px; height: 50px;"></div>
                                    {{ end }}
                                  </span>
                                  <a href="{{ $itm.RelPermalink }}">{{ $itm.Title }}</a>
                                </h4>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 d-flex justify-content-center">
        {{ partial "pagination.html" (dict "paginator" $paginator) }}
        </div>
    </div>
</div>
{{ end }}
