{{ define "main" }}

<div class="container">
  <div class="row mt-5">
    <div class="col-lg mt-3">
      <div class="card border-primary mb-3">
    <div class="card-body">
      <h1 class="card-title"><i class="bi bi-{{if eq .Type "Tags" }}tags{{else if eq .Type "Categories" }}folder{{else}}stack{{end}} mx-1"></i>{{ .Title }}</h1>
      <div class="d-flex gap-1 flex-wrap">
        {{ range .Data.Terms.Alphabetical }}
          <a href="{{ .Page.RelPermalink }}"><span class="badge rounded-pill bg-primary fs-5 mx-1">{{ .Page.Title }}<span class="badge rounded-pill text-bg-danger mx-1 m-0">{{ .Count }}</span></span></a>
        {{ end }}
    </div>
    </div>
    </div>
  </div>
</div>
{{ end }}
