<nav class="navbar navbar-expand-lg fixed-top bg-primary navbar-transparent" data-bs-theme="dark">
  <div class="container mt-0">
      <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" data-bs-theme="dark">
          <ul class="navbar-nav">
              {{ if site.Menus.main }}
                  {{ range sort site.Menus.main "Weight" }}
                    {{ $url := .URL }}
                    {{ if not (strings.HasSuffix $url "/") }}
                      {{ $url = printf "%s/" $url }}
                    {{ end }}
                    {{ $isActive := and (or ($.IsMenuCurrent "main" .) (eq $url $.RelPermalink)) (not .HasChildren) }}
                    {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ if $isActive }}active{{ end }}"
                                href="{{ $url }}"
                                data-bs-toggle="dropdown">
                                {{ .Name }}
                            </a>
                            <ul class="dropdown-menu">
                                {{ range sort .Children "Weight" }}
                                {{ $url := .URL }}
                                {{ if not (strings.HasSuffix $url "/") }}
                                  {{ $url = printf "%s/" $url }}
                                {{ end }}

                                    {{ $isSubActive := or ($.IsMenuCurrent "main" .) (eq $url $.RelPermalink) }}
                                    <li>
                                        <a class="dropdown-item {{ if $isSubActive }}active{{ end }}"
                                            href="{{ $url }}">
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            </ul>
                        </li>
                    {{ else }}
                        <li class="nav-item">
                            <a class="nav-link {{ if $isActive }}active{{ end }}"
                                href="{{ $url }}">
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}
                  {{ end }}
              {{ end }}

              {{ if eq .Site.Params.environment "development" }}
                  <button id="themeToggle" class="btn btn-primary">🌙 Toggle Theme</button>
              {{ end }}

          </ul>
          <ul class="navbar-nav ms-lg-auto">
            {{ with .Site.Params.socials }}
                {{ range . }}
                <li class="nav-item">
                <!-- <a href="{{ .url }}" rel="noopener" target="_blank" class="nav-link"><i class="{{ .icon }}"></i></a> -->
                <a target="_blank" rel="noopener" class="nav-link" href="{{ .url }}"><i class="{{ .icon }}"></i><span class="d-lg-none ms-2">{{ .name }}</span></a>
                </li>
                {{ end }}
            {{ end }}
            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                <hr class="d-lg-none my-2 text-white-50">
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="theme-menu" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme">
                  <i class="bi bi-circle-half"></i>
                  <span class="d-lg-none ms-2">Toggle theme</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                      <i class="bi bi-sun-fill"></i><span class="ms-2">Light</span>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="true">
                      <i class="bi bi-moon-stars-fill"></i><span class="ms-2">Dark</span>
                    </button>
                  </li>
                </ul>
              </li>
              <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                <hr class="d-lg-none my-2 text-white-50">
              </li>
              <li>
                {{- $query := first 1 (where .Site.Pages "Layout" "==" "search") -}}
                {{- if $query -}}
                    {{- $searchPage := index $query 0 -}}
                    <form class="d-flex search-form" action="{{ $searchPage.RelPermalink }}" {{ with .OutputFormats.Get "json" -}}data-json="{{ .Permalink }}" {{- end }} data-bs-theme="dark">
                        <input name="keyword" class="form-control me-sm-2" type="search" placeholder="keywords">
                        <button title="Search" class="btn btn-secondary my-2 my-sm-0" type="submit">
                            <svg class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                        </button>
                      </form>
                {{- end -}}
              </li>
          </ul>
      </div>
  </div>
</nav>
