{{/* Load different CSS based on section */}}
{{ if eq .Section "posts" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/posts.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "updates" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/posts.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "updates2" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/updates2.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "resume" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/resume.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "search" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/search.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "tools" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/tools.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "tags" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/taxonomy.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "categories" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/taxonomy.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "series" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/taxonomy.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "update_categories" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/taxonomy.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "update_tags" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/taxonomy.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else if eq .Section "timeframes" }}
  {{ $styles := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/taxonomy.scss")) }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ else }}
  {{/* Load Bootstrap Core CSS */}}
  {{ $bootstrapCore := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/bootstrap-core.scss")) }}
  <link rel="stylesheet" href="{{ $bootstrapCore.RelPermalink }}" integrity="{{ $bootstrapCore.Data.Integrity }}">

  {{/* Load Theme Custom CSS */}}
  {{ $themeCustom := partial "get-stylesheet.html" (dict "Resource" (resources.Get "scss/theme-custom.scss")) }}
  <link rel="stylesheet" href="{{ $themeCustom.RelPermalink }}" integrity="{{ $themeCustom.Data.Integrity }}">
{{ end }}

{{ $aos := partial "get-stylesheet.html" (dict "Resource" (resources.Get "vendor/aos/css/aos.css")) }}
<link rel="stylesheet" href="{{ $aos.RelPermalink }}" integrity="{{ $aos.Data.Integrity }}">

{{ $swiper := partial "get-stylesheet.html" (dict "Resource" (resources.Get "vendor/swiper/css/swiper-bundle.min.css")) }}
<link rel="stylesheet" href="{{ $swiper.RelPermalink }}" integrity="{{ $swiper.Data.Integrity }}">

{{/* Only load tech radar CSS for tools section */}}
{{ if eq .Section "tools" }}
  {{ $radar := partial "get-stylesheet.html" (dict "Resource" (resources.Get "tech-radar/css/radar.css")) }}
  <link rel="stylesheet" href="{{ $radar.RelPermalink }}" integrity="{{ $radar.Data.Integrity }}">
{{ end }}

{{/* Load PrismJS for code highlighting (used in posts mainly) */}}
{{ if or (eq .Section "posts") (eq .Section "documentation") }}
  {{ $prismjs := partial "get-stylesheet.html" (dict "Resource" (resources.Get "vendor/prismjs/css/prism.min.css")) }}
  {{ if ne .Site.Params.prismjsTheme "default" }}
      {{ $prismjs = resources.Get (printf "vendor/prismjs/css/prism-%s.min.css" .Site.Params.prismjsTheme) | fingerprint }}
  {{ end }}
  <link rel="stylesheet" href="{{ $prismjs.RelPermalink }}" integrity="{{ $prismjs.Data.Integrity }}">
{{ end }}

{{/* Load FontAwesome locally only in development when webfonts are available */}}
{{ if and .Site.Params.isLocal (fileExists "assets/vendor/fontawesome/webfonts/fa-brands-400.woff2") }}
  {{ $brands := partial "get-stylesheet.html" (dict "Resource" (resources.Get "vendor/fontawesome/css/brands.min.css")) }}
  <link rel="stylesheet" href="{{ $brands.RelPermalink }}" integrity="{{ $brands.Data.Integrity }}">
  {{ $regular := partial "get-stylesheet.html" (dict "Resource" (resources.Get "vendor/fontawesome/css/regular.min.css")) }}
  <link rel="stylesheet" href="{{ $regular.RelPermalink }}" integrity="{{ $regular.Data.Integrity }}">
  {{ $solid := partial "get-stylesheet.html" (dict "Resource" (resources.Get "vendor/fontawesome/css/solid.min.css")) }}
  <link rel="stylesheet" href="{{ $solid.RelPermalink }}" integrity="{{ $solid.Data.Integrity }}">
{{ end }}


