{{ define "main" }}
{{ $global := . }}

<div class="container">
  <div class="row mt-5">
    <div class="col-lg m-0">
      <div class="card border-primary mb-3">
        <div class="card-header text-center">
          {{ with .Params.author }}
          {{ $author := site.GetPage (printf "authors/%s" .) }}
          {{ partial "gravatar/avatar-params" (dict "Email" $author.Params.email "ClassName" "rounded-circle flex-shrink-0 center-text" "Size" "150" "Alt" $author.Title) }}
          {{ with $author }}
            <h1 class="center-text">{{ .Title }}</h2>
            <h2 class="center-text"><a href="{{ .Params.organizations.url }}">{{.Params.organizations.name}}</a></h2>
            <div class="social-links  center-text">
              {{ .Params.bio | markdownify}}
            </div>
          {{ end }}
        {{ end }}
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Other Posts</h5> -->
          <p>{{ with .Params.author }}
            {{ $author := site.GetPage (printf "authors/%s" .) }}
            {{ with $author }}
            <div class="">
              {{ .Content }}
            </div>
            {{ end }}
            {{ end }}
          </p>

        </div>
      </div>
      <div class="card border-primary mb-3">
        <!-- <div class="card-header">
        </div> -->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <h3>Interests</h3>
              <ul>
                {{ with .Params.author }}
                {{ $author := site.GetPage (printf "authors/%s" .) }}
                  {{ with $author }}
                    {{ with $author.Params.interests }}
                      {{ range . }}
                      <li>{{ . }}</li>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                {{ end }}
              </ul>
            </div>
            <div class="col-lg">
              <h3>Education</h3>
              <ul class="list-unstyled">
                {{ with .Params.author }}
                {{ $author := site.GetPage (printf "authors/%s" .) }}
                    {{ with $author }}
                        {{ with $author.Params.education }}
                            {{ range .courses }}
                            <li class="d-flex align-items-start mb-3">
                                <i class="fas fa-graduation-cap me-2 fs-4"></i>
                                <div>
                                    <p class="course fw-bold m-0">{{ .course }}, {{ .year }}</p>
                                    <p class="institution text-muted m-0">{{ .institution }}</p>
                                </div>
                            </li>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-primary mb-3">
        <div class="card-header text-center">
          <h3 class="center-text">Experiences</h3>
        </div>
        <div class="card-body">
          <section class="page-section" id="about">
            <div class="container mt-0">
                <!-- <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div> -->
                <ul class="timeline">
                  {{ with .Site.GetPage "section" "resume" }}
                    {{ range .Pages }}
                      {{ $index := 0 }} <!-- Initialize index -->
                      {{ if eq .Title "Experiences" }}
                        {{ range sort .Params.item "date_start" "desc"}}
                {{ if modBool $index 2 }} <!-- Check if index is even -->
                  <li>
                {{ else }}
                  <li class="timeline-inverted">
                  {{ end }}
                              <div class="timeline-image">
                                <!-- <img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /> -->
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5>{{ .date_start | time.Format $global.Site.Params.dateFormat  }} - {{ if .date_end }}{{ .date_end | time.Format $global.Site.Params.dateFormat  }}{{ else }}Present{{ end }}<span class="middot-divider">.</span>{{.location}}</h5>
                                      <h5 class="subheading"><em>{{ .title }}</em>{{ .title }}</h5>
                                      <h5 class="subheading">
                                        <a href="{{ .company_url }}" target="_blank">{{ .company }}</a>
                                      </h5>
                                  </div>
                                  <div class="timeline-body"><p class="text-muted">{{ .short_description}}</p></div>
                              </div>
                          </li>
                          {{ $index = add $index 1 }} <!-- Increment index -->
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </ul>
            </div>
        </section>
        </div>
      </div>
      <div class="card border-primary mb-3">
        <div class="card-header text-center">
          <h3 class="center-text">Accomplishments</h3>
        </div>
        <div class="card-body">
          {{ with .Site.GetPage "section" "resume" }}
            {{ range .Pages }}
              {{ if eq .Title "Accomplishments" }}
                {{ $items := sort .Params.item "date_start" "desc" }}
                {{ $lastIndex := sub (len $items) 1 }}
                {{ range $idx, $item := $items}}
                  <div class="timeline-item mt-3">
                    <div class="timeline-content">
                        <h4>{{ .title }}</h4>
                        <h5>
                            <a href="{{ .organization_url }}" target="_blank">{{ .organization }}</a>
                        </h5>
                        <h6 class="date">
                          {{ .date_start | time.Format $global.Site.Params.dateFormat  }} - {{ if .date_end }}{{ .date_end | time.Format $global.Site.Params.dateFormat  }}{{ else }}Present{{ end }}
                        </h6>
                        <p class="description">{{ .description }}</p>
                        <div class="links">
                            <a href="{{ .url }}" target="_blank"><div class="btn btn-primary">More Info</div></a>
                            {{ if .certificate_url }}
                                <a href="{{ .certificate_url }}" target="_blank"><div class="btn btn-outline-primary">View Certificate</div></a>
                            {{ end }}
                        </div>
                    </div>
                  </div>
                  {{ if lt $idx $lastIndex }}
                    <hr>
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="card border-primary mb-3">
        <div class="card-header text-center">
          <h4 class="center-text">Badges</h4>
        </div>

        <div class="card-body">
          {{ with .Site.GetPage "section" "resume" }}
              {{ range .Pages }}
                {{ if eq .Title "Badges" }}
                    {{ .Content }}
                {{ end }}
              {{ end }}
            {{ end }}
        </div>
      </div>
      <div class="card border-primary mb-3">
        <!-- <div class="card-header text-center">
          <h4 class="center-text">Badges</h4>
        </div> -->

        <div class="card-body">
          <!-- GitAds Banner -->
  {{ partial "gitads-banner.html" }}
  <!-- /GitAds Banner -->
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{{ end }}
