
{{ $index := .index }}
{{ $pages := .pages }}
{{ $total := len $pages }}

<div class="card border-0 col-md-12 mt-3">
    <div class="card-body p-0">
      <div class="container p-0 mt-0">
  <div class="row g-4">

{{ $idx := 0 }}
{{ range seq 0 1 }}
    {{ $p:= (index $pages (add $index $idx)) }}
    {{if lt (add $index $idx) $total }}
        {{ $cover := $p.Resources.Get "cover.jpg" }}
  <div class="col-12 col-md-6">
            <div class="card border-0">
                <div>
                  <a href="{{ $p.RelPermalink }}">
                    {{ if $cover }}
                      {{ $webp := $cover.Fill "800x400 webp" }}
                      {{ $fallback := $cover.Fill "800x400" }}
                      <picture>
                        <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
                        <img src="{{ $fallback.RelPermalink }}" alt="{{ $p.Params.description }}" class="img-fluid rounded" loading="lazy" />
                      </picture>
                    {{ else }}
                      <img src="img/default-cover.jpg" alt="{{ $p.Params.description }}" class="img-fluid rounded" loading="lazy" />
                    {{ end }}
                  </a>
                </div>
            <div class="card-body">
                {{ partial "newUpdate.html" (dict "page" $p) }}
                <span>{{ with $p.Lastmod }}{{ . | time.Format $p.Site.Params.dateFormat }}{{ else }}{{ $p.Date.Format $p.Site.Params.dateFormat }}{{ end }}</span>
                <h6 class="card-title">
                <strong>{{ $p.Title }}</strong>
                </h6>
                <div>
                    {{$p.Params.description }}
                </div>
                <a href="{{ $p.Permalink }}" class="text-info">Read more<span><i class="fas fa-arrow-right mx-1"></i></span></a>
            </div>
        </div>
        </div>
    {{ end}}
    {{ $idx = add $idx 1 }}
{{ end}}
</div>
</div>
</div>
</div>
