/*--------------------------------------------------------------
  # Scroll Top Button
  --------------------------------------------------------------*/

:root,
[data-bs-theme=light]{
  --scroll-top-bg: #{$primary};
  --scroll-top-color: #{$navbar-dark-color};
  --scroll-top-shadow: #{$navbar-dark-color};
}

[data-bs-theme=dark]{
  color-scheme: dark;
  --scroll-top-color: #{$navbar-light-color};  
  --scroll-top-shadow: #{$navbar-light-color};  
}

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--scroll-top-bg);
  color: var(--scroll-top-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  box-shadow: 0 0 1px var(--scroll-top-shadow);
}

.scroll-top i {
  font-size: #{$font-size-base*2};
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--scroll-top-bg), transparent 20%);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}
