{{ define "main" }}
<div class="container">
  {{/* Collect all visible update pages */}}
  {{ $pages := where (where site.RegularPages "Section" "updates") ".Params.unlisted" "!=" true }}

  {{/* Allow custom page size via site param, fallback to 15 (different from posts page size) */}}
  {{ $defaultUpdatePageSize := 10 }}
  {{ $updatePageSize := or site.Params.updatesPageSize $defaultUpdatePageSize }}

  {{/* Create paginator with custom size */}}
  {{ $paginator := .Paginate $pages $updatePageSize }}
  {{ $title := printf "%s page %d" .Title $paginator.PageNumber }}

  {{/* Pass only the current page's pages to archive partial so grouping reflects current page subset */}}
  {{ $pageItems := $paginator.Pages }}
  {{ partial "updates-archive.html" (dict
    "pages" $pageItems
    "title" $title
    "showIcon" false
  ) }}

  <div class="row g-0">
    <div class="col-lg-12 d-flex justify-content-center">
      {{ partial "pagination.html" (dict "paginator" $paginator) }}
    </div>
  </div>
</div>
{{ end }}
